@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<body>



    <div class="Form-Container   d-flex justify-content-center align-items-center">



        <div class="inside">

            <h2 class="text-center text-white">Forget Password</h2>

            <form asp-action="ForgetPassword" method="post" class="mt-4 d-flex align-items-center gap-2 flex-column">


                <div class="text-danger fw-bold" asp-validation-summary="ModelOnly"></div>



                <input asp-for="Email" placeholder="Email" class="FormInput">
                <span class="text-danger fw-bold align-self-start ps-3" asp-validation-for="Email"></span>



                <button class="btn btn-primary w-50 mt-1">Submit</button>




            </form>



        </div>


    </div>





</body>

@section ValidationScripts {



    <partial name="_ValidationScriptsPartial"></partial>

}

