@model ReturnEmployeeDetailsDto
@{
    ViewData["Title"] = "Details";

}



<div class="container mt-5">


   


    <div class="card shadow-lg mt-3">
        <div class="card-header bg-primary text-white text-center">
            <h3>Edit Department</h3>
        </div>
        <div class="card-body">



            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#General" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#Administrative" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Administrative</button>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="home-tab" tabindex="0">


                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" asp-for="Name" readonly />

                    </div>


                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input type="text" class="form-control" asp-for="Email" readonly />

                    </div>


                    <div class="mb-3">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input type="text" class="form-control" asp-for="Address" readonly />

                    </div>

                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" asp-for="Email" readonly />

                    </div>

                    <div class="mb-3">
                        <label asp-for="Age" class="form-label">Age</label>
                        <input class="form-control" asp-for="Age" readonly></input>
                    </div>


                    <div class="mb-3">
                        <label asp-for="HiringDate" class="form-label">Hiring Date</label>
                        <input readonly class="form-control" asp-for="HiringDate" />
                    </div>


                    <div class="mb-3">
                        <label asp-for="Department" class="form-label">Department</label>
                        <input readonly class="form-control" asp-for="Department" />
                    </div>


                    <div class="mb-3">
                        <label asp-for="Salary" class="form-label">Salary</label>
                        <input readonly class="form-control" asp-for="Salary" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Gender" class="form-label">Gender</label>
                        <input readonly class="form-control" asp-for="Gender" />
                    </div>


                    <div class="mb-3">
                        <label asp-for="EmployeeType" class="form-label">Employee Type</label>
                        <input readonly class="form-control" asp-for="EmployeeType" />
                    </div>


                    <div class="mb-3">
                        <label asp-for="IsActive" class="form-label">Is Active</label>
                        <input readonly class="form-check-input" asp-for="IsActive" disabled />
                    </div>


                </div>
                <div class="tab-pane fade" id="Administrative" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">



                    <div class="mb-3">
                        <label asp-for="CreatedBy" class="form-label">Created By</label>
                        <input type="number" class="form-control" asp-for="CreatedBy" readonly />
                    </div>

                    <div class="mb-3">
                        <label asp-for="CreatedOn" class="form-label">Created On</label>
                        <input type="datetime-local" class="form-control" asp-for="CreatedOn" readonly />
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastModifiedOn" class="form-label">Last Modified At</label>
                        <input type="datetime-local" class="form-control" asp-for="LastModifiedOn" readonly />
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastModifiedBy" class="form-label">Last Modified By</label>
                        <input type="number" class="form-control" asp-for="LastModifiedBy" readonly />
                    </div>
                </div>

            </div>








            <div class="text-center mt-3">
                <a asp-action="Edit" asp-route-id=@Model.Id class="btn btn-success">
                    <i class="bi bi-save"></i> Edit
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back To List
                </a>
            </div>

        </div>
    </div>
</div>
